@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
body {
  margin: 0;
  font-family: 'Boogaloo', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(assets/pattern.svg) no-repeat center center fixed;
}
input{
  margin: 0;
}